.custome-font .ant-dropdown-menu-title-content {
  font-size: 16px;
}

.custome-font-child .ant-dropdown-menu-title-content {
  font-size: 16px;
}

.boxchat-enter {
  opacity: 0;
  transform: translateX(20px);
}
.boxchat-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.boxchat-exit {
  opacity: 1;
  transform: translateX(0);
}
.boxchat-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 300ms, transform 300ms;
}