@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Variables */
  --color-bg-primary: #E7EEF1; 
  --color-bg-hightlight: #393e46;
  --color-primary: #fd7014;
  --color-secondary: #ff7940;
  --color-tertiary: #979797;
  background-color: #eff2f6;
}

.filter-white:hover img{
  filter: invert(98%) sepia(0%) saturate(3964%) hue-rotate(162deg) brightness(114%) contrast(101%);
}
.container {
  max-width: 1260px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 5vh;
  padding-right: 5vh;
}
