@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Variables */
  --color-bg-primary: #E7EEF1; 
  --color-bg-hightlight: #393e46 ;
  --color-primary: #FD7014;
}
